@page "/"
@inherits DayCartBase
@inject ISyncLocalStorageService localStorage


@if (DayCartItems == null && ErrorMessage == null)
{
    <DisplaySpinner></DisplaySpinner>
}

else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage ="@ErrorMessage"></DisplayError>
}

else{
    <AuthorizeView>
        <NotAuthorized>
        <h1> Welcome to DayCart</h1>

        </NotAuthorized>
    <Authorized>
        <h1> Welcome back, @localStorage.GetItemAsString("username") to DayCart</h1>
    </Authorized>

    </AuthorizeView>

     <h3 class="mb-5">Day Cart</h3>
    
      <div class = "row mb-5">
        <div class ="col-md-9">
            @foreach(var item in DayCartItems)
            {
                <div class="row mb-4">
                    <div class="col-md-4">
                        <img src="@item.ProductImageUrl" width="300" class="img-thumbnail">
                    </div>
                    <div class = "col-md-8">
                        <h5>@item.ProductName</h5>
                        <div class="mb-4">@item.ProductDescription</div>
                        <span> Calories: <b>@(item.Calories*100)  Kcl/100g</b>
                        <input type="number" @bind="@item.Qty"></input>
                        <button class="btn btn-info btn-sm"
                                @onclick="(() => UpdateQtyCartItem_Click(item.Id, item.Qty))"
                            >Update Qty</button>
                        </span>
                        <div>
                        <button  @onclick="(()=>DeleteCartItem_Click(item.Id))"
                            class="btn btn-danger sm">Remove </button>
                        </div>
                            
                           
                       
                    </div>

                </div>
            }
             </div>
              

             <div class="col-md-3">
            <h5>DayCart Summary</h5>
            <div class="mt-2">
                <div>Total eated: <b>@TotalCalories</b></div>
                <a href="addToDayCart" class="btn btn-success">
                  Add product
                </a>
            </div>
        </div>
        </div>






}
