@page "/ProductDetails/{Id:int}"
@inject ILocalStorageService localStorage
@using ShopOnline.Models.Dtos
@inherits ProductDetaildBase

@if(Product==null && ErrorMessage==null)
{
    <DisplaySpinner></DisplaySpinner>
}
else if(ErrorMessage!=null)
{
    <h3 class="text-danger">@ErrorMessage</h3>
}
else
{
   
    <h3 class="mb-5">Product Details</h3>
    <div class="row">
        <div class="col-md-6 mb-4">
            <img class="img-fluid" src="@Product.ImageURL">       
        </div>
        <div class="col-md-6">
            <h3>@Product.Name</h3>
            <p class="mb-4">@Product.Description</p>
            <p class="mb-4">
                <b>
                   Calories: @(Product.Calories*100)  Kcl/100g;
                </b>
                
            </p>
             <p class="mb-4">
                <b>
                   Carbo: @(Math.Round(Product.Carbo*100,1))  g/100g;
                </b>
                
            </p>
             <p class="mb-4">
                <b>
                   Protein: @(Math.Round(Product.Protein*100,1))  g/100g;
                </b>
                
            </p>
             <p class="mb-4">
                <b>
                   Fat: @(Math.Round(Product.Fat*100,1))  g/100g;
                </b>
                
            </p>
            <div>
                <button class="btn btn-success"
                @onclick ="() => (AddToCart_Click(new CartItemToAddDto{
                    
                    ProductId = Product.Id,
                    Qty = 100
                }))"
                ><b>Add to Cart</b></button>
            </div>
        </div>

    </div>
}
