@page "/TreningCart"
@inherits TreningCartBase
@inject ISyncLocalStorageService localStorage



@if (treningCartItemDtos == null && errorMessage == null)
{
    <DisplaySpinner></DisplaySpinner>
}

else if (errorMessage != null)
{
    <DisplayError ErrorMessage ="@errorMessage"></DisplayError>
}
else if(selectedExercise!=null)
{

     <div class ="col-md-3 mb-2">
                        

                           
                             <EditForm Model="selectedExercise">
   <p>Exercise name: @selectedExercise.Name </p>
  <div class="form-group">
    <label for="exerciseWeight">Exercise weight</label>
    <input type="number" class="form-control" id="userAge" name="exerciseWeight in Kg" @bind=selectedExercise.Weight />
  </div>
  <div class="form-group">
    <label for="numberOfSets">Number od sets</label>
    <input type="number" class="form-control" id="userHeight" name="numberOfSets" @bind=selectedExercise.Sets />
  </div>
  <div class="form-group">
    <label for="numberOfReps">Number od repetions</label>
    <input type="number" class="form-control" id="userWeight" name="numberOfReps" @bind=selectedExercise.Repetitions />
  </div>
 
  
    </EditForm>
                            
                               

                           
                        
                        </div>


                         <div class="row">
 <p class="mb-4">
              <div>
                <button class="btn btn-success"
                @onclick ="() => (UpdateTreningCart_Click(selectedExercise.Id,selectedExercise.Weight,selectedExercise.Sets,selectedExercise.Repetitions))"
                ><b>Edit exercise</b></button>
            </div>
            </p>
 </div>
    
}

else{
    <AuthorizeView>
        <NotAuthorized>
        <h1> Welcome to TreningCart</h1>

        </NotAuthorized>
    <Authorized>
        <h1> Welcome back @localStorage.GetItemAsString("username") to Trening Cart</h1>
    </Authorized>

    </AuthorizeView>
    


     <h3 class="mb-5">Trening Cart</h3>
       <EditForm Model="treningCartDto">
   <div class="form-group">
    <label for="userSex">Trening Cart Date</label>
     <div class="col-sm-10">
    <InputDate @bind-Value="treningCartDto.CreatedDate" Format="yyyy-MM-dd" Min="@minDate" Max="@maxDate" class="form-control" />
    </div>
  </div>
 
 
  
    </EditForm>

        <div class="row">
 <p class="mb-4">
              <div>
                <button class="btn btn-success"
                @onclick ="() => (ShowDayCartClick(treningCartDto.CreatedDate))"
                ><b>Show Trening cart</b></button>
            </div>
            </p>
 </div>
    

   


    
      <div class = "row mb-5">
        <div class ="col-md-9">
           @foreach (var exercise in treningCartItemDtos)
{
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">@exercise.Name</h5>
            
            <p class="card-text">@exercise.Description</p>
           

                 <span> Weight: <b>@exercise.Weight</b>
                            <div class="row mb-4">
                         <span> Number of sets: <b> @exercise.Sets</b> </span>
                         <span> Number of repetitions: <b>@exercise.Repetitions</b> 
                          
                    
                   
                       
                       <button class="btn btn-info btn-sm"
                                @onclick="(() => EditExercise_Click(exercise))"
                            >Edit Exercise</button>
                            </span>
                            </div>
                        </span>


                       
                            <div>
                        <button  @onclick="(()=>DeleteExercise_Click(exercise.Id))"
                            class="btn btn-danger sm">Remove Exercise </button>
                        </div>
                        




             
                           

            
            

                         
        </div>
    </div>
}
             </div>
              

             <div class="col-md-3">
            
            <div class="mt-2">
                
                <a href="AddExercise" class="btn btn-success">
                  Add Exercise
                </a>
            </div>
        </div>
        </div>


        

        



}

